APP_NAME=Fycbit
APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost
APP_KEY=
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fycbit
DB_USERNAME=fycbit
DB_PASSWORD=change_me
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
MAIL_HOST=localhost
MAIL_PORT=1025

